.container {
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-gap: 10px;
  grid-template-rows: 50px 150px 150px 150px 50px;
  grid-template-columns: repeat(3, 1fr) 200px;
}
.container * {
  background-color: #07beb8;
  padding: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 13px;
}
.header {
  grid-column: 1 / -1;
}
.sb-1 {
  grid-row: 3 / span 2;
}

.sb-4 {
  grid-row: 3 / span 2;
}

.categories {
  background-color: #655a7c;
}

.masa {
  background-color: #20bf55;
}

.sidebar {
  grid-row: 3 / span 4;
  grid-column: 4 / 5;
  background-color: #ced3dc;
}

.footer {
  grid-column: 1 / span 3;
}
.btn {
  background-color: #ee6352;
  padding: 10px;
  margin: 5px auto;
  text-align: center;
}
.btn:hover {
  background-color: #ee412a;
  cursor: pointer;
  color: #fff;
}

select {
  margin: 10px;
  text-align: center;
  background-color: #ee6352;
}
.master {
  padding: 10px;
  margin: 5px;
}
