.container {
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-gap: 10px;
  grid-template-rows: 100px 200px 200px 200px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;
}
.container * {
  background-color: #dc143c;
  padding: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 13px;
}
.header {
  grid-column: 1 / -1;
}
.sb-1 {
  grid-row: 3 / span 2;
}

.sb-4 {
  grid-row: 3 / span 2;
}

.categories {
  background-color: #655a7c;
}

.masa {
  background-color: #20bf55;
}

.sidebar {
  grid-row: 3 / span 2;
  grid-column: 4 / 5;
}

.footer {
  grid-column: 1 / -1;
}
.btn {
  background-color: #60a561;
  padding: 10px;
  margin: 5px auto;
  text-align: center;
}
.btn:hover {
  background-color: #006045;
  cursor: pointer;
  color: #fff;
}

select {
  margin: 10px;
  text-align: center;
}
.master {
  padding: 10px;
  margin: 5px;
}
